[submodule "vim/bundles/command-t"]
	path = vim/bundles/command-t
	url = https://github.com/wincent/command-t
[submodule "vim/bundles/ctrlp.vim"]
	path = vim/bundles/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundles/nerdcommenter.git"]
	path = vim/bundles/nerdcommenter.git
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundles/lightline.vim"]
	path = vim/bundles/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundles/supertab"]
	path = vim/bundles/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundles/vim-fugitive"]
	path = vim/bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundles/vim-polygot"]
	path = vim/bundles/vim-polygot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/bundles/syntastic"]
	path = vim/bundles/syntastic
	url = https://github.com/vim-syntastic/syntastic
